<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @deal.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @deal.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @deal.price %>
</p>

<p>
  <strong>Discounted price:</strong>
  <%= @deal.discounted_price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @deal.quantity %>
</p>

<p>
  <strong>Publish date:</strong>
  <%= @deal.publish_date %>
</p>

<p>
  <strong>Image path:</strong>
  <%= @deal.image_path %>
</p>

<p>
  <strong>String:</strong>
  <%= @deal.string %>
</p>

<%= link_to 'Edit', edit_deal_path(@deal) %> |
<%= link_to 'Back', deals_path %>
